.modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
    animation: fadeIn 1s both;
    font-family: 'Syne', sans-serif;
}

.fond-modale{
    position: fixed;
    background: rgba(0, 0, 0, 0.517);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal-contain {
    width: 630px;
    height: 731px;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: auto;
    max-width: calc(100vw - 110px);
    max-height: calc(100vh - 120px);
    animation: slideFromTop .3s both;
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-50px);

    }

    100% {
        transform: translateY(0px);
    }
}


.js-modal-close {
    cursor: pointer;
    font-size: 18px;
    background: transparent;
    border: transparent;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 2;
}


/*-------------------------------*/
/* contenu modale gelerie photo */
/*------------------------------*/

.modal-gallery {
    text-align: center;
    min-width: fit-content;
    margin: 0 auto;
    font-family: 'Syne', sans-serif;
}

.modal-gallery:active {
    display: block;
}

.modal-gallery.hidden {
    display: none;
}

.gallery-edit {
    width: 69%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin: 0 auto;
}

.gallery-edit img {
    width: 100%;
}

.gallery-edit figure {
    display: flex;
    flex-direction: column;
}

.edit {
    text-align: left;
    margin-top: 3px;
}

.modal-gallery h2 {
    font-family: 'work', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    padding-top: 50px;
    padding-bottom: 40px;
}

hr {
    width: 70%;
    height: 0;
    border: 0.5px solid #969696;
    margin-top: 40px;
    margin-bottom: 40px;
}

.modal-gallery button {
    cursor: pointer;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    color: white;
    background-color: #1D6154;
    text-align: center;
    border: 1px solid #1D6154;
    border-radius: 60px;
    padding: 8px 35px;
}

#supprimer {
    cursor: pointer;
    display: block;
    margin: 25px;
    font-family: 'Syne', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #D65353;
}

/*---modal ajout------*/

#retour {
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 30px;
}

.picture {
    background: rgba(232, 241, 246, 1);
    width: 420px;
    height: 169px;
    flex-shrink: 0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin: auto;
    margin-bottom: 20px;
}

#model-picture {
    width: min-content;
}

#selected-image {
    height: 190px;
    position: absolute;
}

#picture-ajout{
    cursor: pointer;
    width: 173px;
    background: rgba(203, 214, 220, 1);
    border: transparent;
    border-radius: 60px;
    color: rgba(48, 102, 133, 1);
    font-family: 'Syne', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    align-self: center;
    padding: 8px 18px;
    text-align: center;
}

#picture-ajout span {
    color: #4444;
    text-align: center;
    font-size: 10px;
    font-family: "Work Sans";
}

#file-upload {
    display: none;
  }

/*--------formulaire---------*/

#ajout form {
    width: 420px;
    display: flex;
    flex-direction: column;
    color: #3D3D3D;
    font-size: 14px;
    font-family: 'Syne', sans-serif;
    font-weight: 500;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

#ajout form label {
    align-self: flex-start;
    margin-top: 20px;
}

#ajout form input,
#ajout form select {
    width: 420px;
    height: 51px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    color: rgb(55, 55, 55);
    border: transparent;
    margin-top: 10px;
}

#titre {
   text-indent: 10px;
}

#form-category {
    text-indent: 3px;
  }

  #form-category option {
   padding-left: 10px;
  }

#ajout form hr {
    width: 100%;
}

#valider {
    width: 237px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #A7A7A7;
    border: transparent;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

/*------------------------------------*/
/* action sur les icones*/
/*------------------------------------*/
.projet-modale {
    position: relative;
}

.icon-action {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: row;
}

.icon-moove {
    display: none;
}

.icon-moove.active{
    display: block;
    background: #000000;
    border-radius: 3px;
    padding:4px ;
    font-size: 9px;
    margin-right: 3px;
}

.icon-contain{
    background: #000000;
    border-radius: 3px;
    padding:4px ;
    font-size: 9px;
}


.moove::before, .trash::before {
    cursor: pointer;
    color: #FFFFFF;
}


