.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(48, 48, 48, 0.822);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn .3s both;
}

.modal-contain {
    width: 630px;
    height: 731px;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: auto;
    max-width: calc(100vw - 120px);
    max-height: calc(100vh - 300px);
    animation: slideFromTop .3s both;
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}